img{
    width: 75px;
    height: 75px;
}

.swiper-button-prev{
        background-color: black;
        color: bisque;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        top: 70px;
        left: 0;
}
.swiper-button-next{
    background-color: black;
    color: bisque;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 70px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after  {
    font-size: 25px;
}